<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432363921649-mladeovgaqpdnv58eta5vuu6n147v5fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432363921649-mladeovgaqpdnv58eta5vuu6n147v5fp</string>
	<key>API_KEY</key>
	<string>AIzaSyBdbX5JOEwjv0PKzoyvDqKxy5ES6eSx6qU</string>
	<key>GCM_SENDER_ID</key>
	<string>432363921649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lkc.vitalizer</string>
	<key>PROJECT_ID</key>
	<string>vitalizer-589aa</string>
	<key>STORAGE_BUCKET</key>
	<string>vitalizer-589aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432363921649:ios:23616aa1eb5afca5bb4950</string>
	<key>DATABASE_URL</key>
	<string>https://vitalizer-589aa.firebaseio.com</string>
</dict>
</plist>